body {
  --background-color: hsl(25deg, 4%, 100%);
  --default-text-color: black;
  --active-cell-color: #fff9d0;
  --active-clue-color: #caf0ff;
  --cursor-color: hsl(192.5deg, 100%, 89.6%);
  --filled-cell-color: black;

  --breakpoint-sm: 480px;
}

.App {
  background-color: var(--background-color);
  color: var(--default-text-color);

  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
