body {
  --background-color: hsl(25deg, 4%, 100%);
  --default-text-color: black;
  --active-cell-color: hsl(60deg, 100%, 89%);
  --active-clue-color: lightblue;
  --cursor-color: hsl(180deg, 100%, 97%);
  --filled-cell-color: black;
}

.gameWrapper {
  height: 100vh;
  height: 100dvh;

  display: grid;
  justify-content: center;
}
