.logoWrapper {
  background-color: black;
  padding: 2px;
}

.logo {
  user-select: none;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(7, 1fr);
}

.letterSquare {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: white;
  aspect-ratio: 1 / 1;
  width: 1.2rem;

  display: grid;
  place-content: center;

  @media (min-width: 600px) {
    width: 1.5rem;
    font-size: 1rem;
  }
}

.letter {
  /* Shift text down a pixel to visually center letters */
  transform: translate(0, 2px);
}

.blackSquare {
  background-color: black;
}
