.outerGameWrapper {
  display: grid;
  justify-content: center;
}

.gameWrapper {
  font-family: Helvetica, sans-serif;

  margin-top: 30px;
  width: 100%;

  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media (min-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    justify-content: flex-end;
  }
}

.gridAndClues {
  display: flex;
  flex-direction: row;
}

.gridAndActiveClue {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 600px) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.titleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 1rem;

  border: 1px solid transparent;
  border-radius: .5rem;
  transform: translate(-1px);

  width: 80vw;
  @media (min-width: 600px) {
    width: min(50vw, 500px);
  }
}

.titleContainer:hover {
  border: 1px solid lightgray;
}

.titleEditIcon {
  width: 1rem;
  transform: translateY(-2px);
}

.gridWrapper {
}

.activeClueHeader {
  user-select: none;
  background-color: var(--active-clue-color);

  font-size: 1.1rem;
  /*padding: 16px;*/
  width: 80vw;
  line-height: 1.5rem;
  min-height: 4.5rem;

  white-space: normal;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  @media (min-width: 600px) {
    width: min(50vw, 500px);
  }
}

.activeClueContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  @media (min-width: 600px) {
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.activeClueLabel {
  font-weight: bold;
}

.clueSkipButton {
  all: unset;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: 600px) {
    display: none;
  }
}

.cluesWrapper {
  display: none;

  @media (min-width: 600px) {
    display: block;

    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.clueBoxSpacer {
  font-size: 1.3rem;
  padding: 15px;
  display: none;

  @media (min-width: 1000px) {
    display: block;
    visibility: hidden;
  }
}
