.outerGameWrapper {
  display: grid;
  justify-content: center;
}

.siteHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-bottom: 1px solid gray;
}

.iconGroup {
  display: flex;
  gap: 8px;
  align-items: center;
}

.gameWrapper {
  font-family: Helvetica, sans-serif;

  width: 100%;

  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media (min-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    justify-content: flex-end;
  }
}

.gridAndClues {
  display: flex;
  flex-direction: row;
}

.gridAndActiveClue {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 600px) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.titleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 1rem;

  border: 1px solid transparent;
  border-radius: .5rem;
  transform: translate(-1px);

  width: 85vw;
  @media (min-width: 600px) {
    width: min(50vw, 500px);
  }
}

.titleContainer:hover {
  border: 1px solid lightgray;
}

.titleEditIcon {
  width: 1rem;
  transform: translateY(-2px);
}

.gridWrapper {
}

.cluesWrapper {
  display: none;

  @media (min-width: 600px) {
    display: block;

    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.clueBoxSpacer {
  font-size: 1.3rem;
  padding: 15px;
  display: none;

  @media (min-width: 1000px) {
    display: block;
    visibility: hidden;
  }
}
