.gameWrapper {
  font-family: Helvetica, sans-serif;

  padding: 10px;
  padding-top: 20px;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-areas:
    "title"
    "crossword"
    "active-clue"
    "clues";
  gap: 8px;
  justify-content: center;

  @media (min-width: 600px) {
    padding-top: 50px;
    grid-template-areas:
      "title ."
      "active-clue ."
      "crossword clues";
  }
}

.crosswordTitle {
  grid-area: title;
  font-size: 1.5rem;
}

.gridWrapper {
  grid-area: crossword;
}

.activeClueHeader {
  grid-area: active-clue;

  width: 80vw;

  margin-top: 4px;
  padding: 15px;

  background-color: var(--active-clue-color);

  user-select: none;

  font-size: 1.3rem;

  @media (min-width: 600px) {
    width: min(50vw, 500px);
  }
}

.cluesWrapper {
  grid-area: clues;

  display: none;

  @media (min-width: 600px) {
    margin-left: 20px;
    margin-right: 20px;

    display: block;
  }
}
