.controls {
  border-color: red;
  display: flex;
  justify-content: end;
}

.fadeIn {
  opacity: 0%;
  max-height: 0px;
  animation: fade-in var(--fade-in-duration) forwards var(--fade-out-duration);
}

.fadeOut {
  pointer-events: none;
  animation: fade-out var(--fade-out-duration) forwards;
}

@keyframes fade-in {
  0% {
    max-height: 0px;
    opacity: 0%;
  }

  100% {
    max-height: 1000px;
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    max-height: 1000px;
    opacity: 100%;
  }

  100% {
    max-height: 0px;
    opacity: 0%;
  }
}
