.siteHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid gray;
}

.iconGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* Shift button group to the right to align icons with secondary buttons */
  transform: translateX(6px);
}
