.cluesWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
  gap: 20px;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.clueList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.cluesHeader {
  font-size: 1.2em;
}

.clueItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 300px;
  padding-left: 4px;
  padding-right: 10px;

  @media (min-width: 900px) {
    margin-bottom: 4px;
  }
}

.activeClueItem {
  background-color: var(--cursor-color);
}

.clueID {
  margin-right: 10px;
  font-weight: bold;
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  width: 2rem;
  align-self: flex-start;
  justify-self: flex-end;
}

.orthogonalClueID {
  background-color: var(--cursor-color);
}
