.cluesWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.clueList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  border: 1px solid lightgrey;
  border-radius: 4px;

  @media (min-width: 600px) {
    max-height: 30vh;
  }

  @media (min-width: 1000px) {
    max-height: 52vh;
  }
}

.cluesHeader {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.clueItemWrapper {
  padding: 8px;
  padding-top: 8px;
}

.clueItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  border-radius: 4px;

  @media (min-width: 1000px) {
    max-width: 300px;
  }
}

.activeClueItem {
  background-color: var(--cursor-color);
}

.clueID {
  font-weight: bold;
  margin-right: 16px;
  padding: 16px;
  border-radius: 4px;
}

.orthogonalClueID {
  background-color: var(--cursor-color);
}
