.cluesWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.clueList {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow-y: auto;

  border-radius: 4px;
  background-color: hsl(25deg, 4%, 97%);

  overflow: auto;

  @media (min-width: 600px) {
    max-height: 30vh;
  }

  @media (min-width: 1000px) {
    max-height: 70%;
  }
}

.cluesHeader {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.clueItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

  @media (min-width: 1000px) {
    margin-bottom: 4px;
    max-width: 300px;
  }

  border-radius: 4px;
}

.activeClueItem {
  background-color: var(--cursor-color);
}

.clueID {
  padding: 12px;
  padding-right: 15px;
  margin-right: 12px;
  font-weight: bold;
  width: 2rem;
  align-self: flex-start;
  justify-self: flex-end;
  border-radius: 4px;
}

.orthogonalClueID {
  background-color: var(--cursor-color);
}
